<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<integer>0</integer>
	<key>data</key>
	<array>
		<dict>
			<key>dayInWeek</key>
			<integer>3</integer>
			<key>endSec</key>
			<integer>12</integer>
			<key>location</key>
			<string>实验楼802</string>
			<key>name</key>
			<string>管理信息系统开发与设计</string>
			<key>period</key>
			<string>1-16(周)</string>
			<key>startSec</key>
			<integer>9</integer>
			<key>teacher</key>
			<string>毛光喜副教授</string>
		</dict>
	</array>
	<key>msg</key>
	<string></string>
</dict>
</plist>
